
# Import Python libraries.

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Import Datasets

In [19]:
df_train = pd.read_csv("Training Data.csv")
df_test = pd.read_csv("Test Data.csv")

# Check how train dataset looks like.

In [20]:
df_train.head()

   Id   income  age  ...  current_job_years current_house_years risk_flag
0   1  1303835   23  ...                  3                  13         0
1   2  7574516   40  ...                  9                  13         0
2   3  3991815   66  ...                  4                  10         0
3   4  6256451   41  ...                  2                  12         1
4   5  5768871   47  ...                  3                  14         1

[5 rows x 13 columns]

# Convert datatype of selected fields.

In [21]:
df_train = df_train.drop('Id',axis=1)
df_test = df_test.drop('id',axis=1)

In [22]:
#"married" feature into dummy
subgrade_dummies = pd.get_dummies(df_train['married'],drop_first=True)
df_train = pd.concat([df_train.drop('married',axis=1),subgrade_dummies],axis=1)

#"house_ownership" feature into dummy
dummy = pd.get_dummies(df_train['house_ownership'],drop_first=True)
df_train = pd.concat([df_train.drop('house_ownership',axis=1),dummy],axis=1)

#"car_ownership" feature into dummy
dummy = pd.get_dummies(df_train['car_ownership'],drop_first=True)
df_train = pd.concat([df_train.drop('car_ownership',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['profession'],drop_first=True)
df_train = pd.concat([df_train.drop('profession',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['state'],drop_first=True)
df_train = pd.concat([df_train.drop('state',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['city'],drop_first=True)
df_train = pd.concat([df_train.drop('city',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['age'],drop_first=True)
df_train = pd.concat([df_train.drop('age',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['experience'],drop_first=True)
df_train = pd.concat([df_train.drop('experience',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['current_job_years'],drop_first=True)
df_train = pd.concat([df_train.drop('current_job_years',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_train['current_house_years'],drop_first=True)
df_train = pd.concat([df_train.drop('current_house_years',axis=1),dummy],axis=1)

#feature scaling 
from sklearn.preprocessing import MinMaxScaler

dfr = df_train['income']
dfr = np.array(dfr)
dfr = dfr.reshape(-1,1)

scaler = MinMaxScaler()
dfr = scaler.fit_transform(dfr)
df_train['income'] = dfr

In [23]:
#"married" feature into dummy
subgrade_dummies = pd.get_dummies(df_test['married'],drop_first=True)
df_test = pd.concat([df_test.drop('married',axis=1),subgrade_dummies],axis=1)

#"house_ownership" feature into dummy
dummy = pd.get_dummies(df_test['house_ownership'],drop_first=True)
df_test = pd.concat([df_test.drop('house_ownership',axis=1),dummy],axis=1)

#"car_ownership" feature into dummy
dummy = pd.get_dummies(df_test['car_ownership'],drop_first=True)
df_test = pd.concat([df_test.drop('car_ownership',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['profession'],drop_first=True)
df_test = pd.concat([df_test.drop('profession',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['state'],drop_first=True)
df_test = pd.concat([df_test.drop('state',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['city'],drop_first=True)
df_test = pd.concat([df_test.drop('city',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['age'],drop_first=True)
df_test = pd.concat([df_test.drop('age',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['experience'],drop_first=True)
df_test = pd.concat([df_test.drop('experience',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['current_job_years'],drop_first=True)
df_test = pd.concat([df_test.drop('current_job_years',axis=1),dummy],axis=1)

#"profession" feature into dummy
dummy = pd.get_dummies(df_test['current_house_years'],drop_first=True)
df_test = pd.concat([df_test.drop('current_house_years',axis=1),dummy],axis=1)

#feature scaling 
from sklearn.preprocessing import MinMaxScaler

dfr = df_test['income']
dfr = np.array(dfr)
dfr = dfr.reshape(-1,1)

scaler = MinMaxScaler()
dfr = scaler.fit_transform(dfr)
df_test['income'] = dfr

# Drop the dependent variable from the train/test dataset.

In [26]:
from sklearn.model_selection import train_test_split

X = df_train.drop('risk_flag',axis=1)
y = df_train['risk_flag']

X_train,X_cv,y_train,y_cv = train_test_split(X,y,test_size=0.3,random_state=101)

# Train your model

In [33]:
from sklearn.linear_model import LogisticRegression

lr = LogisticRegression(max_iter=10000000000)
lr.fit(X_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=10000000000,
                   multi_class='auto', n_jobs=None, penalty='l2',
                   random_state=None, solver='lbfgs', tol=0.0001, verbose=0,
                   warm_start=False)

# Test your model

In [34]:
thershold = 0.425
pred = np.where(lr.predict_proba(X_cv)[:,1] > thershold, 1, 0)

In [36]:
pred

array([0, 0, 0, ..., 0, 0, 0])

# Check your roc_auc_score

In [37]:
from sklearn.metrics import roc_auc_score
auc = roc_auc_score(pred, y_cv)
print('ROC AUC: %f' % auc)

ROC AUC: 0.782309

In [40]:
print(classification_report(y_cv, y_pred))

              precision    recall  f1-score   support

           0       0.94      0.93      0.93     66292
           1       0.52      0.55      0.54      9308

    accuracy                           0.88     75600
   macro avg       0.73      0.74      0.74     75600
weighted avg       0.89      0.88      0.88     75600